div{
    background-color: peru;
    border: none;
    border-radius: 10px;
    /* border-style: hidden; */
    margin: 12px;
    padding: 12px;
}
fieldset{
    border-radius: 4px;
    border-collapse: collapse;
    border-color: purple;
}